body {
    font-family: cursive;
    background-color: pink ;
    margin: 0;
    padding: 100px;
}
.container{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color:pink;
    border-radius: 8px;
    box-shadow: 0 0 10px palevioletred;
}
p{
    text-align: center;
}
.margen{
    margin: 30px;
}